In this notebook I have added code to join three datasets together and write it as

 json file so we can build another set of code to proces the json file in a production scenario.


dbfs:/FileStore/orders_csv.csv



 dbfs:/FileStore/customersweek17.csv

 dbfs:/FileStore/order_item.csv

In [0]:
orders_schema = "order_id long, order_date , customer_id long, order_status string"

In [0]:
orders_df = spark.read \
  .format("csv") \
    .schema(orders_schema) \
      .option("header",True) \
            .load("dbfs:/FileStore/orders_csv.csv")

In [0]:
orders_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [0]:

orders_df.createOrReplaceTempView("orders")

In [0]:


from pyspark.sql.types import *

order_item_schema = StructType([
    StructField("order_item_id", LongType(), True),
    StructField("order_item_order_id", LongType(), True),
    StructField("order_item_product_id", LongType(), True),
    StructField("order_item_quantity", LongType(), True),
    StructField("order_item_subtotal", DecimalType(10, 2), True),  # Adjust precision & scale as needed
    StructField("order_item_product_price", DecimalType(10, 2), True)
])

In [0]:
order_items_df = spark.read \
    .schema(order_item_schema) \
        .format("csv") \
            .option("header",True) \
                .load("dbfs:/FileStore/order_item.csv")

In [0]:
order_items_df.createOrReplaceTempView("order_items")

In [0]:
spark.sql("select * from order_items").show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|              36460|                  707|                  4|            1540.32|                  385.08|
|            2|              13154|                   26|                  2|             583.70|                  291.85|
|            3|              43230|                  828|                  2|             957.34|                  478.67|
|            4|              61127|                    6|                  4|            1656.36|                  414.09|
|            5|              59984|                  224|                  3|             307.26|                  102.42|
|            6|               6112|                  276|                  3|             913.29|                  304.43|
|            7|              26183|                  413|                  4|            1277.52|                  319.38|
|            8|              11740|                  692|                  4|            1028.92|                  257.23|
|            9|              36615|                  501|                  2|             396.14|                  198.07|
|           10|               3639|                  471|                  3|             723.30|                  241.10|
|           11|              38443|                  365|                  1|             465.08|                  465.08|
|           12|              50339|                  411|                  4|              79.44|                   19.86|
|           13|              23681|                  169|                  3|            1251.51|                  417.17|
|           14|              10379|                  492|                  2|             364.26|                  182.13|
|           15|              27750|                  403|                  2|             967.88|                  483.94|
|           16|              49038|                  721|                  1|             271.54|                  271.54|
|           17|              12324|                  514|                  1|             121.26|                  121.26|
|           18|              12741|                  573|                  3|             110.49|                   36.83|
|           19|              29226|                  455|                  4|             656.20|                  164.05|
|           20|              28847|                  899|                  2|             261.86|                  130.93|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

In [0]:
spark.sql("select * from customers").show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_pincode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|       NULL|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|            NULL|
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|             725|
|          6|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|3151 Sleepy Quail...|      Passaic|            NJ|            7055|
|          7|       Melissa|        Wilcox|     XXXXXXXXX|        XXXXXXXXX|9453 High Concession|       Caguas|            PR|             725|
|          8|         Megan|         Smith|     XXXXXXXXX|        XXXXXXXXX|3047 Foggy Forest...|     Lawrence|            MA|            1841|
|          9|          Mary|         Perez|     XXXXXXXXX|        XXXXXXXXX| 3616 Quaking Street|       Caguas|            PR|             725|
|         10|       Melissa|         Smith|     XXXXXXXXX|        XXXXXXXXX|8598 Harvest Beac...|     Stafford|            VA|           22554|
|         11|          Mary|       Huffman|     XXXXXXXXX|        XXXXXXXXX|    3169 Stony Woods|       Caguas|            PR|             725|
|         12|   Christopher|         Smith|     XXXXXXXXX|        XXXXXXXXX|5594 Jagged Ember...|  San Antonio|            TX|           78227|
|         13|          Mary|       Baldwin|     XXXXXXXXX|        XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|            PR|             725|
|         14|     Katherine|         Smith|     XXXXXXXXX|        XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|            CA|           90660|
|         15|          Jane|          Luna|     XXXXXXXXX|        XXXXXXXXX|    673 Burning Glen|      Fontana|            CA|           92336|
|         16|       Tiffany|         Smith|     XXXXXXXXX|        XXXXXXXXX|      6651 Iron Port|       Caguas|            PR|             725|
|         17|          Mary|      Robinson|     XXXXXXXXX|        XXXXXXXXX|     1325 Noble Pike|       Taylor|            MI|           48180|
|         18|        Robert|         Smith|     XXXXXXXXX|        XXXXXXXXX|2734 Hazy Butterf...|     Martinez|            CA|           94553|
|         19|     Stephanie|      Mitchell|     XXXXXXXXX|        XXXXXXXXX|3543 Red Treasure...|       Caguas|            PR|             725|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [0]:
customer_schema ="customer_id long,customer_fname STRING,customer_lname STRING,customer_email STRING,customer_password STRING,customer_street STRING,customer_city STRING,customer_state STRING,customer_pincode long"

In [0]:
customers_df =spark.read \
    .schema(customer_schema) \
        .format("csv") \
                  .option("header",True) \
                      .load("dbfs:/FileStore/customersweek17.csv")

In [0]:
customers_df.createOrReplaceTempView("customers")

In [0]:
spark.sql("select * from orders limit 10").show()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|    NULL|          order_date|       NULL|   order_status|
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
|       6|2013-07-25 00:00:...|       7130|       COMPLETE|
|       7|2013-07-25 00:00:...|       4530|       COMPLETE|
|       8|2013-07-25 00:00:...|       2911|     PROCESSING|
|       9|2013-07-25 00:00:...|       5657|PENDING_PAYMENT|
+--------+--------------------+-----------+---------------+

In [0]:
joined_df = spark.sql("""select orders.order_id,
             order_items.order_item_id,
             orders.customer_id,
             order_items.order_item_product_id,
             order_items.order_item_quantity,
             order_items.order_item_subtotal,
             order_items.order_item_product_price,
             customers.customer_fname,
             customers.customer_lname,
             customers.customer_city,
             customers.customer_state,
             customers.customer_pincode from orders
             join order_items 
             on orders.order_id = order_items.order_item_id
             join customers
             on orders.customer_id = customers.customer_id """)

In [0]:
from pyspark.sql.functions import *

results_df = joined_df.groupBy(
    "order_id",
    "customer_id",
    "customer_fname",
    "customer_lname",
    "customer_city",
    "customer_state",
    "customer_pincode"
).agg(
    collect_list(
        struct(
            "order_item_id",
            "order_item_product_id",
            "order_item_quantity",
            "order_item_product_price",
            "order_item_subtotal"
        )
    ).alias("order_items")
)

results_df.show(truncate=False)

+--------+-----------+--------------+--------------+--------------+--------------+----------------+-------------------------------+
|order_id|customer_id|customer_fname|customer_lname|customer_city |customer_state|customer_pincode|order_items                    |
+--------+-----------+--------------+--------------+--------------+--------------+----------------+-------------------------------+
|8       |2911       |Mary          |Smith         |Caguas        |PR            |725             |[{8, 692, 4, 257.23, 1028.92}] |
|12      |1837       |Mary          |Vega          |Caguas        |PR            |725             |[{12, 411, 4, 19.86, 79.44}]   |
|14      |9842       |Mary          |Smith         |Caguas        |PR            |725             |[{14, 492, 2, 182.13, 364.26}] |
|16      |7276       |Pamela        |Smith         |Caguas        |PR            |725             |[{16, 721, 1, 271.54, 271.54}] |
|23      |4367       |Danielle      |Moran         |Springfield   |MO            |65807           |[{23, 577, 4, 294.20, 1176.80}]|
|24      |11441      |Mary          |Ferguson      |Lutz          |FL            |33549           |[{24, 772, 4, 48.67, 194.68}]  |
|25      |9503       |Mary          |Fitzpatrick   |Orlando       |FL            |32822           |[{25, 799, 2, 107.87, 215.74}] |
|26      |7562       |Thomas        |Hayes         |Escondido     |CA            |92026           |[{26, 658, 1, 11.66, 11.66}]   |
|33      |5793       |Margaret      |Weeks         |Caguas        |PR            |725             |[{33, 478, 3, 484.32, 1452.96}]|
|47      |8487       |Frances       |Smith         |Caguas        |PR            |725             |[{47, 255, 2, 187.34, 374.68}] |
|49      |1871       |Mary          |Mcknight      |Caguas        |PR            |725             |[{49, 400, 3, 455.80, 1367.40}]|
|51      |12271      |Mary          |Small         |Ontario       |CA            |91761           |[{51, 464, 2, 468.19, 936.38}] |
|62      |9111       |Mary          |Smith         |Caguas        |PR            |725             |[{62, 302, 2, 289.20, 578.40}] |
|66      |1792       |Roy           |Rodriguez     |Jersey City   |NJ            |7305            |[{66, 16, 4, 338.46, 1353.84}] |
|67      |1406       |Amy           |Smith         |Caguas        |PR            |725             |[{67, 122, 3, 26.65, 79.95}]   |
|71      |8646       |Mary          |Smith         |Piscataway    |NJ            |8854            |[{71, 835, 1, 178.07, 178.07}] |
|72      |4349       |Donna         |Williams      |Salt Lake City|UT            |84118           |[{72, 109, 3, 170.24, 510.72}] |
|75      |2505       |Jessica       |Johnson       |Caguas        |PR            |725             |[{75, 273, 4, 165.14, 660.56}] |
|76      |6898       |Nathan        |Butler        |Caguas        |PR            |725             |[{76, 797, 2, 486.23, 972.46}] |
|77      |7915       |Justin        |Murphy        |Caguas        |PR            |725             |[{77, 560, 1, 162.52, 162.52}] |
+--------+-----------+--------------+--------------+--------------+--------------+----------------+-------------------------------+
only showing top 20 rows

In [0]:
results_df.show(20)

+--------+-----------+--------------+--------------+--------------+--------------+----------------+--------------------+
|order_id|customer_id|customer_fname|customer_lname| customer_city|customer_state|customer_pincode|         order_items|
+--------+-----------+--------------+--------------+--------------+--------------+----------------+--------------------+
|       8|       2911|          Mary|         Smith|        Caguas|            PR|             725|[{8, 692, 4, 257....|
|      12|       1837|          Mary|          Vega|        Caguas|            PR|             725|[{12, 411, 4, 19....|
|      14|       9842|          Mary|         Smith|        Caguas|            PR|             725|[{14, 492, 2, 182...|
|      16|       7276|        Pamela|         Smith|        Caguas|            PR|             725|[{16, 721, 1, 271...|
|      23|       4367|      Danielle|         Moran|   Springfield|            MO|           65807|[{23, 577, 4, 294...|
|      24|      11441|          Mary|      Ferguson|          Lutz|            FL|           33549|[{24, 772, 4, 48....|
|      25|       9503|          Mary|   Fitzpatrick|       Orlando|            FL|           32822|[{25, 799, 2, 107...|
|      26|       7562|        Thomas|         Hayes|     Escondido|            CA|           92026|[{26, 658, 1, 11....|
|      33|       5793|      Margaret|         Weeks|        Caguas|            PR|             725|[{33, 478, 3, 484...|
|      47|       8487|       Frances|         Smith|        Caguas|            PR|             725|[{47, 255, 2, 187...|
|      49|       1871|          Mary|      Mcknight|        Caguas|            PR|             725|[{49, 400, 3, 455...|
|      51|      12271|          Mary|         Small|       Ontario|            CA|           91761|[{51, 464, 2, 468...|
|      62|       9111|          Mary|         Smith|        Caguas|            PR|             725|[{62, 302, 2, 289...|
|      66|       1792|           Roy|     Rodriguez|   Jersey City|            NJ|            7305|[{66, 16, 4, 338....|
|      67|       1406|           Amy|         Smith|        Caguas|            PR|             725|[{67, 122, 3, 26....|
|      71|       8646|          Mary|         Smith|    Piscataway|            NJ|            8854|[{71, 835, 1, 178...|
|      72|       4349|         Donna|      Williams|Salt Lake City|            UT|           84118|[{72, 109, 3, 170...|
|      75|       2505|       Jessica|       Johnson|        Caguas|            PR|             725|[{75, 273, 4, 165...|
|      76|       6898|        Nathan|        Butler|        Caguas|            PR|             725|[{76, 797, 2, 486...|
|      77|       7915|        Justin|        Murphy|        Caguas|            PR|             725|[{77, 560, 1, 162...|
+--------+-----------+--------------+--------------+--------------+--------------+----------------+--------------------+
only showing top 20 rows

In [0]:
results_df \
.repartition(1) \
    .write \
        .format("json") \
            .mode("overwrite") \
                .option("path","dbfs:/FileStore/merge.json") \
                    .save()